<mat-drawer-container class="example-container" autosize>
      <h3>Welcome User <mat-icon>person</mat-icon></h3>
      <mat-divider></mat-divider>
      <p>New Complaint <mat-icon>create</mat-icon></p>
      <mat-divider></mat-divider>
      <p>Complaint List <mat-icon> list_alt</mat-icon></p>
      <mat-divider></mat-divider>
      <p (click)="logout()">Logout <mat-icon>settings_power</mat-icon></p>
      <!-- <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
  
    <!-- <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->
  
  </mat-drawer-container>
